<ul id="mysidebar" class="nav">
  <li>
    <a href="#">Overview</a>
    <ul>
      {%- include sidebar_link.html url="/" title="Carbon language" -%}
      <!-- Auto-index root-level files. --!>
      {%- for item in site.pages -%}
        {%- assign path = item.url | split: "/" -%}
        {%- if item.search == true and
              path.size == 2 and
              path.last contains ".html" and
              path.last != "README.html" -%}
          {%- include sidebar_link.html url=item.url title=item.title -%}
        {%- endif -%}
      {%- endfor -%}
    </ul>
  </li>

  <!-- Auto-index docs folders. --!>
  {%- for folder in site.pages -%}
    {%- unless folder.url contains ".html" -%}
      {%- assign folderPath = folder.url | split: "/" -%}
      {%- if folderPath.size == 3 and folderPath[1] == "docs" -%}
        <li>
          <a href="#">{{folder.title}}</a>
          <ul>
            {%- include sidebar_link.html url=folder.url title="About" -%}
            <!-- Auto-index folder files. --!>
            {%- for folderItem in site.pages -%}
              {%- assign folderItemPath = folderItem.url | split: "/" -%}
              {%- if folderItem.search == true and
                    folderItemPath.size == 4 and
                    folderItemPath[1] == folderPath[1] and
                    folderItemPath[2] == folderPath[2] and
                    folderItemPath.last contains ".html" and
                    folderItemPath.last != "README.html" -%}
                {%- include sidebar_link.html
                           url=folderItem.url
                           title=folderItem.title -%}
              {%- endif -%}
            {%- endfor -%}
            <!-- Auto-index sub-folders. --!>
            {%- for subFolder in site.pages -%}
              {%- unless subFolder.url contains ".html" -%}
                {%- assign subFolderPath = subFolder.url | split: "/" -%}
                {%- if subFolderPath.size == 4 and
                      subFolderPath[1] == folderPath[1] and
                      subFolderPath[2] == folderPath[2] -%}
                  <li>
                    <a href="#">{{subFolder.title}}</a>
                    <ul>
                      {%- include sidebar_link.html
                                 url=subFolder.url
                                 title="About" -%}
                      <!-- Auto-index sub-folder files. --!>
                      {%- for subFolderItem in site.pages -%}
                        {%- assign subFolderItemPath = subFolderItem.url |
                                  split: "/" -%}
                        {%- if subFolderItem.search == true and
                              subFolderItemPath.size == 5 and
                              subFolderItemPath[1] == subFolderPath[1] and
                              subFolderItemPath[2] == subFolderPath[2] and
                              subFolderItemPath[3] == subFolderPath[3] and
                              subFolderItemPath.last contains ".html" and
                              subFolderItemPath.last != "README.html" -%}
                          {%- include sidebar_link.html
                                     url=subFolderItem.url
                                     title=subFolderItem.title -%}
                        {%- endif -%}
                      {%- endfor -%}
                    </ul>
                  <li>
                {%- endif -%}
              {%- endunless -%}
            {%- endfor -%}
          </ul>
        <li>
      {%- endif -%}
    {%- endunless -%}
  {%- endfor -%}

  <li>
    <a href="#">Proposals</a>
    <ul>
      {%- include sidebar_link.html url="/proposals/" title="About" -%}
      <!-- Auto-index proposals. --!>
      {%- for item in site.pages -%}
        {%- assign itemPath = item.url | split: "/" -%}
        {%- if item.search == true and
              itemPath.size == 3 and
              itemPath[1] == "proposals" and
              itemPath.last contains ".html" and
              itemPath.last != "README.html" -%}
          {%- unless itemPath.last contains "template" -%}
            <!-- Use the proposal number as a prefix. -->
            {%- assign title = itemPath.last |
                              remove: "p" |
                              remove: "-decision" |
                              remove: ".html" |
                              append: ": " |
                              append: item.title -%}
            {%- include sidebar_link.html url=item.url title=title -%}
          {%- endunless -%}
        {%- endif -%}
      {%- endfor -%}
    </ul>
  </li>
</ul>

<!-- This highlights the active parent class in the navgoco sidebar. This is
critical so that the parent expands when you're viewing a page. This must
appear below the sidebar code above. Otherwise, if placed inside
customscripts.js, the script runs before the sidebar code runs and the class
never gets inserted. -->
<script>
  $("li.active").parents("li").toggleClass("active");
</script>
