#.*ERROR: AddressSanitizer global-buffer-overflow on address 0x.* at pc 0x.* bp 0x.* sp 0x.*
#READ of size 4 at 0x.* thread T0
#    #0 0x.* in inc .*shared-lib-test-so.cc:11
#    #1 0x.* in main .*shared-lib-test.cc:33
#    #2 0x.* in __libc_start_main.*
#0x.* is located 4 bytes to the left of global variable 'GLOB' (.*) of size 40
#0x.* is located 52 bytes to the right of global variable 'pad' (.*) of size 40
