WRITE of size 1 at 0x.* thread T0
    #0 0x.* in strncpy _asan_rtl_
    #1 0x.* in main .*strncpy-overflow.cc:[78]
0x.* is located 0 bytes to the right of 9-byte region
allocated by thread T0 here:
    #0 0x.* in malloc _asan_rtl_
    #1 0x.* in main .*strncpy-overflow.cc:6
