.*ERROR: AddressSanitizer heap-use-after-free on address 0x.* at pc 0x.* bp 0x.* sp 0x.*
READ of size 1 at 0x.* thread T0
    #0 0x.* in main .*use-after-free.cc:5
0x.* is located 5 bytes inside of 10-byte region .0x.*,0x.*
freed by thread T0 here:
    #0 0x.* in free _asan_rtl_
    #1 0x.* in main .*use-after-free.cc:[45]
previously allocated by thread T0 here:
    #0 0x.* in malloc _asan_rtl_
    #1 0x.* in main .*use-after-free.cc:3
