meh IcOn "hello.bmp"
Icon Icon "Icon"

LANGUAGE 5, 12

STRINGTABLE
LANGUAGE 1, 1
CHARACTERISTICS 500
LANGUAGE 3, 4
VERSION 14
{
  1 "hello"
  2 "world"
}
STRINGTABLE BEGIN END

500 HTML "index.html"
Name Cursor "hello.ico"

12 ACCELERATORS
VERSION 5000
LANGUAGE 0, 2
{
  "^C", 10
  14, 11
  5, 12, VIRTKEY
  0, 0, ASCII
  1, 1, VIRTKEY, CONTROL
  2, 2, CONTROL, VIRTKEY
  3, 3, ALT, CONTROL, SHIFT, NOINVERT, ASCII, VIRTKEY
}
