BasedOnStyle: LLVM
IndentWidth:     4
ColumnLimit:     140
BreakBeforeBraces: Allman
AlwaysBreakAfterDefinitionReturnType: true
AllowShortFunctionsOnASingleLine: Inline
BreakConstructorInitializersBeforeComma: true
IndentCaseLabels: true
