//===-- main.cpp ------------------------------------------------*- C++ -*-===//
//
// Part of the LLVM Project, under the Apache License v2.0 with LLVM Exceptions.
// See https://llvm.org/LICENSE.txt for license information.
// SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception
//
//===----------------------------------------------------------------------===//

#include <stdio.h>
%include_SB_APIs%

using namespace lldb;
int
main(int argc, char const *argv[])
{
    SBDebugger::Initialize();
    SBDebugger dbg = SBDebugger::Create();

    printf("Hello SBDebugger %llu\n", dbg.GetID()); // Set breakpoint here.

    SBDebugger::Terminate();
    return 0;
}
