# Part of the Carbon Language project, under the Apache License v2.0 with LLVM
# Exceptions. See /LICENSE for license information.
# SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception

# This tells Github to detect files having the extension `.def` as `C++` files, which
# ensures that these files get syntax highlighted properly.
*.def linguist-language=C++
