# Part of the Carbon Language project, under the Apache License v2.0 with LLVM
# Exceptions. See /LICENSE for license information.
# SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception

command script import external/+llvm_project+llvm-project/llvm/utils/lldbDataFormatters.py
command script import scripts/lldbinit.py
settings set escape-non-printables false
settings set target.max-string-summary-length 10000
