# Part of the Carbon Language project, under the Apache License v2.0 with LLVM
# Exceptions. See /LICENSE for license information.
# SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception

# Most of the repository consists of implementation code or other supporting
# material for the implementation of Carbon. Rather than enumerate these, we
# default them to implementation team ownership, which will be overridden by later
# lines.
*                   @carbon-language/implementation-team

# Co-own top-level config files. Ownership is actually mixed, but low value to
# separate. Top-level docs will be overridden as core-team-owned files.
/*                  @carbon-language/implementation-team @carbon-language/infra-team

# Directories that contain infrastructure and support scripts.
/.github/           @carbon-language/infra-team
/github/            @carbon-language/infra-team
/website/           @carbon-language/infra-team

# The core team owns the core language and project documentation.
/*.md               @carbon-language/core-team
/LICENSE            @carbon-language/core-team
/docs/              @carbon-language/core-team

# The review managers own updates to the proposals.
/proposals/         @carbon-language/review-managers

# ACLs are owned by the admin team and handled last to avoid accidentally being
# overridden by later patterns.
CODEOWNERS          @carbon-language/admin-team
