/*
	Consulted:
	http://www.w3.org/TR/CSS1 &
	http://www.w3.org/TR/CSS21/
*/

	html, body {
		margin:0px;
		padding:0px;
	}
	p {
		margin-top:em;
		margin-bottom:0;
	}

	ul, ol { /* Get rid of the extra space above and below all lists */
		margin-top:0;
		margin-bottom:0;
	}
	table,tr,td {
		border:.3ex solid black;
		border-collapse:collapse;
		padding:.4ex;
	}


	.li_desc, .li_weak_desc { /* layout + formatting */
		margin: 0 3ex;
		font-size:.9em;
	}
	.li_weak_desc { /* color */
		color:rgb(100,100,100);
	}
	.weak_txt {
		font-size:.9em;
		color:rgb(100,100,100);
	}

	.code {
		font:Courier,Arial;
	}
	.quote {
		display: block;
		margin: 0 5em;
	}
	.key_point {
		color:rgb(200,0,0);
	}
	.simple_list { /* simple lists that don't need to stand out */
		margin-left:0;
	}


	/* ****************** */
	/* Performance images */
	.img_container {
		display:inline;
		background-color:rgb(250,250,250);
		width:400px;
		vertical-align:top;
		margin:.1em;
	}
	[class=img_container] {
		display:inline-block;
	}
	.img_container img {
		display:block;
	}

	.img_title {
		display:block;
		font-weight:bold;
		color:rgb(20,50,150);
	}
	.img_desc .img-notes {
		display:block;
		padding:.3em;
	}
	.img_notes {
		font-style:italic;
		color:rgb(50,50,50);
		font-size:.9em;
	}
	/* ****************** */