html, body {
	padding:0px;	
	color:#000000; background-color:#ffffff;
  font-family: Helvetica, sans-serif;
}

/* Slides */
IMG.img_slide {
    display: block;
    margin-left: auto;
    margin-right: auto 
}
