/*
 * LLVM website style sheet
 */

/* Common styles */
.body { color: black; background: white; margin: 0 0 0 0 }

/* No borders on image links */
a:link img, a:visited img {border-style: none}

address img { float: right; width: 88px; height: 31px; }
address     { clear: right; }

/* 
 * Documentation 
 */
/* Common for title and header */
.doc_title, .doc_section, .doc_subsection { 
  color: black; background: url("img/lines.gif");
  font-family: "Georgia,Palatino,Times,Roman"; font-weight: bold;
  border-width: 1px;
  border-style: solid none solid none;
  text-align: center;
  vertical-align: middle;
  padding-left: 8pt;
  padding-top: 1px;
  padding-bottom: 2px
}

.doc_title      { text-align: left;   font-size: 25pt }
.doc_section    { text-align: center; font-size: 22pt; }
.doc_subsection { width: 50%;
                  text-align: left;  font-size: 12pt; padding: 4pt 4pt 4pt 4pt;
                  margin: 1.5em 0.5em 1.5em 0.5em }

.doc_subsubsection { margin: 1.5em 0.5em 1.5 0.5em;
                     padding: 20pt 4pt 4pt 4pt;
                     font-weight: bold; font-style: oblique;
                     border-bottom: 1px solid #999999; font-size: 12pt }

.doc_text       { text-align: left; padding-left: 20pt }

.doc_footer     { text-align: left; padding: 0 0 0 0 }

.doc_red        { color: red }

.doc_table	    { text-align: center; width: 90%; 
                  padding: 1px 1px 1px 1px; border: 1px; }

.doc_warning    { color: red; font-weight: bold }

.doc_code       { border: solid 1px gray; background: #eeeeee;
                  width: 700px; margin: 0 0 0 1em; 
                  padding: 0 0 0 1em }
