<ul id="mysidebar" class="nav">
  {%- include sidebar_dir.html
              dir="/"
              title="Overview"
              about="Carbon language" -%}
  {%- include sidebar_subdirs.html dir="/docs/" -%}
  {%- include sidebar_dir.html
              dir="/proposals/"
              title="Proposals"
              proposals=true -%}
</ul>

<!-- This highlights the active parent class in the navgoco sidebar. This is
critical so that the parent expands when you're viewing a page. This must
appear below the sidebar code above. Otherwise, if placed inside
customscripts.js, the script runs before the sidebar code runs and the class
never gets inserted. -->
<script>
  $("li.active").parents("li").toggleClass("active");
</script>
