<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Brutal.Dev.StrongNameSigner" version="1.8.0" targetFramework="net45" />
  <package id="YamlDotNet" version="3.3.0" targetFramework="net45" />
  <package id="YamlDotNet.Dynamic" version="3.2.3" targetFramework="net45" />
</packages>