Redirect 301 /architecture/index.html https://lldb.llvm.org/use/architecture.html
Redirect 301 /cpp_reference/html/index.html https://lldb.llvm.org/cpp_reference/index.html
Redirect 301 /features.html https://lldb.llvm.org/status/features.html
Redirect 301 /formats.html https://lldb.llvm.org/use/formatting.html
Redirect 301 /goals.html https://lldb.llvm.org/status/goals.html
Redirect 301 /lldb-gdb.html https://lldb.llvm.org/use/map.html
Redirect 301 /projects.html https://lldb.llvm.org/status/projects.html
Redirect 301 /remote.html https://lldb.llvm.org/use/remote.html
Redirect 301 /source.html https://lldb.llvm.org/resources/source.html
Redirect 301 /tutorial.html https://lldb.llvm.org/use/tutorial.html
Redirect 301 /varformats.html https://lldb.llvm.org/use/variable.html
