
.www_title  { font-family: "Georgia,Palatino,Times,Roman";
              font-size: 33pt; 
              text-align: center;}

#container {
	margin: 0px auto;
	text-align: left;
	width: 860px;
}
#header{
	height:40px;
	width:777px;
}
#content{
	padding: 0px 0px 0px 0px;
	border:1px solid white;
}
#left{
	padding: 0px 0px 0px 0px;
	border:1px solid white;
	width:192px;
	float:left;
}
#middle{
	padding: 0px 0px 0px 0px;
	border:1px solid white;
	margin-left:200px;
	margin-right:196px;
	width:658px;
}

/*Credits: Dynamic Drive CSS Library */
/*URL: http://www.dynamicdrive.com/style/ */

.urbangreymenu{
width: 190px; /*width of menu*/
}

.urbangreymenu .headerbar{
font: bold 13px Verdana;
color: white;
background: #606060; 
margin-bottom: 0; /*bottom spacing between header and rest of content*/
text-transform: uppercase;
padding: 7px 0 7px 7px;
}

.urbangreymenu ul{
list-style-type: none;
margin: 0;
padding: 0;
margin-bottom: 0; /*bottom spacing between each UL and rest of content*/
}

.urbangreymenu ul li{
padding-bottom: 1px; /*bottom spacing between menu items*/
}

.urbangreymenu ul li a{
font: normal 12px Arial;
color: black;
background: #E9E9E9;
display: block;
padding: 5px 0;
line-height: 17px;
padding-left: 14px;
text-decoration: none;
}

.urbangreymenu ul li a:visited{
color: black;
}

.urbangreymenu ul li a:hover { /*hover state CSS*/
color: black;
background: #bbbbbb;
}

.samplecode {
	background-repeat:repeat-x;
	border:1px solid #d1c7ac;
	width: 230px;
	color:#333333;
	padding:3px;
	margin-right:4px;
	margin-bottom:8px;
	font-family:tahoma, arial, sans-serif;
}

table.stats {
    text-align: center;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif ;
    font-weight: normal;
    font-size: 11px;
    color: #fff;
    background-color: #666;
    border: 0px;
    border-collapse: collapse;
    border-spacing: 0px;
}

td.blank {
    background-color: white;
    background: white;
    color: white;
}

td.content {
    background-color: #E9E9E9;
    color: #000;
    padding: 4px;
    text-align: left;
    border: 1px #fff solid;
    height: 40px;
    vertical-align: top;
}

td.header {
    background-color: #bbb;
    color: #000;
    padding: 4px;
    text-align: left;
    border: 1px #fff solid;
    vertical-align: top;
}

table.stats {
    color: #000;
    padding: 4px;
    text-align: left;
    border: 1px #fff solid;
}


table.stats td.hed {
    background: #606060; 
    color: white;
    padding: 4px;
    text-align: left;
    border-bottom: 2px #fff solid;
    font-size: 12px;
    font-weight: bold;
}

.post {
    width: 640px; /*width of menu*/
}

.postheader {
    font: bold 13px Verdana;
    color: white;
    background: #606060; 
    margin-bottom: 0; /*bottom spacing between header and rest of content*/
    text-transform: uppercase;
    padding: 7px 0 7px 7px;
}

.postcontent{
	padding-left: 14px;
}
