
.www_title  { font-family: "Georgia,Palatino,Times,Roman";
              font-size: 33pt; 
              text-align: center;}

#container {
	margin: 0px auto;
	text-align: left;
	width: 860px;
}
#header{
	height:40px;
	width:777px;
}
#content{
	padding: 0px 0px 0px 0px;
	border:1px solid white;
}
#left{
	padding: 0px 0px 0px 0px;
	border:1px solid white;
	width:192px;
	float:left;
}
#middle{
	padding: 0px 0px 0px 0px;
	border:1px solid white;
	margin-left:200px;
	margin-right:196px;
	width:658px;
}

/*Credits: Dynamic Drive CSS Library */
/*URL: http://www.dynamicdrive.com/style/ */

.urbangreymenu{
width: 190px; /*width of menu*/
}

.urbangreymenu .headerbar{
font: bold 13px Verdana;
color: white;
background: #606060; 
margin-bottom: 0; /*bottom spacing between header and rest of content*/
text-transform: uppercase;
padding: 7px 0 7px 7px;
}

.urbangreymenu ul{
list-style-type: none;
margin: 0;
padding: 0;
margin-bottom: 0; /*bottom spacing between each UL and rest of content*/
}

.urbangreymenu ul li{
padding-bottom: 1px; /*bottom spacing between menu items*/
}

.urbangreymenu ul li a{
font: normal 12px Arial;
color: black;
background: #E9E9E9;
display: block;
padding: 5px 0;
line-height: 17px;
padding-left: 14px;
text-decoration: none;
}

.urbangreymenu ul li a:visited{
color: black;
}

.urbangreymenu ul li a:hover{ /*hover state CSS*/
color: black;
background: #bbbbbb;
}


.post{
width: 640px; /*width of menu*/
}

.postheader{
font: bold 13px Verdana;
color: white;
background: #606060; 
margin-bottom: 0; /*bottom spacing between header and rest of content*/
text-transform: uppercase;
padding: 7px 0 7px 7px;
}

.postcontent{
	padding-left: 14px;
}
