html { margin: 0px; } body { margin: 8px; }

html, body {
  padding:0px;
  margin:0px;
  font-size:small; font-family:"Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, Helvetica, sans-serif; background-color: #fff; color: #222;
  line-height:1.5;
  background-color: #808080;
  
}

h1, h2, h3, tt { color: #000 }

h1 { padding-top:0px; margin-top:0px;}
h2 { color:#333333; padding-top:0.5em; }
h3 { padding-top: 0.5em; margin-bottom: -0.25em; color:#2d58b7 }
h4 { color:#2d58b7 }
li { padding-bottom: 0.5em }
ul { padding-left:1.5em; }

.command { font-weight:bold }
.code_highlight { font-weight:bold; color:#2d58b7 }
.code_example { border-width:1px; border-style:solid; border-color:#cccccc; 
                background-color:#eeeeee; padding:10px }

/* Slides */
IMG.img_slide {
    display: block;
    margin-left: auto;
    margin-right: auto
}

#page { width:930px;  text-align: left; margin: 0 auto; padding:0;
        background-color: white; height:100%;
        border-left: 1px solid #EBF0FA;
}

#content {
  clear: left;
  padding: 1em 2em 0 2em;
  background-color: #ffffff;
}

.itemTitle { color:#2d58b7 }


/* Tables */
tr { vertical-align:top }
