/* From 'A list apart', 'dropdowns' */
body {
  background-color: #EBF0FA;
}
#nav {
  font-weight: bold;
  color: #2d58b7;
  width:100%;
}
#nav a {
  text-decoration: none;
}  
#nav a:hover {
  text-decoration: underline;
}
.menubar {
  font-size: 80%;
}
.menubar ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.menubar li {
  text-align: center;
  padding: 5px;
  list-style: none;
  float: left;
  position: relative;
  width: 11em;
  cursor: default;
  background-color: #EBF0FA;
}
.menubar li ul /* second level lists */ {
  display: none;
  position: absolute; 
  top: 1em;
  left: 0;
}
.menubar li>ul {
  padding: 0;
  margin: 0;
  top:auto;
  left:auto;
  font-weight: normal;
}
.menubar li:hover ul, li.over ul { /* lists nested under hovered list items */
  display: block;
}
#content {
  clear: left;
  padding-top: 10px;
  background-color: #ffffff;
}
