<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.apple.debugserver.applist.internal</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Developer/usr/bin/debugserver</string>
		<string>--lockdown</string>
		<string>--applist</string>
	</array>
    <key>AllowByProxy</key>
    <true/>
</dict>
</plist>
