Checks: '-*,llvmlibc-*,readability-identifier-naming'
HeaderFilterRegex: '.*'
WarningsAsErrors: 'llvmlibc-*'
CheckOptions:
  - key:             llvmlibc-restrict-system-libc-headers.Includes
    value:           '-*, linux/*, asm/*.h, asm-generic/*.h'
  - key:             readability-identifier-naming.ClassCase
    value:           CamelCase
  - key:             readability-identifier-naming.StructCase
    value:           aNy_CasE
  - key:             readability-identifier-naming.MemberCase
    value:           lower_case
  - key:             readability-identifier-naming.VariableCase
    value:           lower_case
  - key:             readability-identifier-naming.VariableIgnoredRegexp
    value:           "^_[A-Za-z0-9_]+$"
  - key:             readability-identifier-naming.FunctionCase
    value:           lower_case
  - key:             readability-identifier-naming.FunctionIgnoredRegexp
    value:           "^_[A-Za-z0-9_]+$"
  - key:             readability-identifier-naming.ConstexprVariableCase
    value:           UPPER_CASE
  - key:             readability-identifier-naming.GetConfigPerFile
    value:           true
