.*ERROR: AddressSanitizer crashed on unknown address 0x0*00028 .*pc 0x.*
AddressSanitizer can not provide additional info. ABORTING
    #0 0x.* in NullDeref.*null_deref.cc:3
    #1 0x.* in main.*null_deref.cc:[67]
