<key>diagnostics</key>
<array>
 <dict>
  <key>path</key>
  <array>
   <dict>
    <key>kind</key><string>control</string>
    <key>edges</key>
     <array>
      <dict>
       <key>start</key>
        <array>
         <dict>
          <key>line</key><integer>48</integer>
          <key>col</key><integer>3</integer>
          <key>file</key><integer>0</integer>
         </dict>
         <dict>
          <key>line</key><integer>48</integer>
          <key>col</key><integer>15</integer>
          <key>file</key><integer>0</integer>
         </dict>
        </array>
       <key>end</key>
        <array>
         <dict>
          <key>line</key><integer>49</integer>
          <key>col</key><integer>3</integer>
          <key>file</key><integer>0</integer>
         </dict>
         <dict>
          <key>line</key><integer>49</integer>
          <key>col</key><integer>6</integer>
          <key>file</key><integer>0</integer>
         </dict>
        </array>
      </dict>
     </array>
   </dict>
   <dict>
    <key>kind</key><string>control</string>
    <key>edges</key>
     <array>
      <dict>
       <key>start</key>
        <array>
         <dict>
          <key>line</key><integer>49</integer>
          <key>col</key><integer>3</integer>
          <key>file</key><integer>0</integer>
         </dict>
         <dict>
          <key>line</key><integer>49</integer>
          <key>col</key><integer>6</integer>
          <key>file</key><integer>0</integer>
         </dict>
        </array>
       <key>end</key>
        <array>
         <dict>
          <key>line</key><integer>49</integer>
          <key>col</key><integer>26</integer>
          <key>file</key><integer>0</integer>
         </dict>
         <dict>
          <key>line</key><integer>49</integer>
          <key>col</key><integer>38</integer>
          <key>file</key><integer>0</integer>
         </dict>
        </array>
      </dict>
     </array>
   </dict>
   <dict>
    <key>kind</key><string>event</string>
    <key>location</key>
    <dict>
     <key>line</key><integer>49</integer>
     <key>col</key><integer>26</integer>
     <key>file</key><integer>0</integer>
    </dict>
    <key>ranges</key>
    <array>
      <array>
       <dict>
        <key>line</key><integer>49</integer>
        <key>col</key><integer>26</integer>
        <key>file</key><integer>0</integer>
       </dict>
       <dict>
        <key>line</key><integer>53</integer>
        <key>col</key><integer>4</integer>
        <key>file</key><integer>0</integer>
       </dict>
      </array>
    </array>
    <key>depth</key><integer>0</integer>
    <key>extended_message</key>
    <string>Calling &apos;performAction&apos;</string>
    <key>message</key>
    <string>Calling &apos;performAction&apos;</string>
   </dict>
   <dict>
    <key>kind</key><string>event</string>
    <key>location</key>
    <dict>
     <key>line</key><integer>27</integer>
     <key>col</key><integer>1</integer>
     <key>file</key><integer>0</integer>
    </dict>
    <key>depth</key><integer>1</integer>
    <key>extended_message</key>
    <string>Entered call from &apos;runTest&apos;</string>
    <key>message</key>
    <string>Entered call from &apos;runTest&apos;</string>
   </dict>
   <dict>
    <key>kind</key><string>control</string>
    <key>edges</key>
     <array>
      <dict>
       <key>start</key>
        <array>
         <dict>
          <key>line</key><integer>27</integer>
          <key>col</key><integer>1</integer>
          <key>file</key><integer>0</integer>
         </dict>
         <dict>
          <key>line</key><integer>27</integer>
          <key>col</key><integer>6</integer>
          <key>file</key><integer>0</integer>
         </dict>
        </array>
       <key>end</key>
        <array>
         <dict>
          <key>line</key><integer>28</integer>
          <key>col</key><integer>3</integer>
          <key>file</key><integer>0</integer>
         </dict>
         <dict>
          <key>line</key><integer>28</integer>
          <key>col</key><integer>15</integer>
          <key>file</key><integer>0</integer>
         </dict>
        </array>
      </dict>
     </array>
   </dict>
   <dict>
    <key>kind</key><string>control</string>
    <key>edges</key>
     <array>
      <dict>
       <key>start</key>
        <array>
         <dict>
          <key>line</key><integer>28</integer>
          <key>col</key><integer>3</integer>
          <key>file</key><integer>0</integer>
         </dict>
         <dict>
          <key>line</key><integer>28</integer>
          <key>col</key><integer>15</integer>
          <key>file</key><integer>0</integer>
         </dict>
        </array>
       <key>end</key>
        <array>
         <dict>
          <key>line</key><integer>29</integer>
          <key>col</key><integer>3</integer>
          <key>file</key><integer>0</integer>
         </dict>
         <dict>
          <key>line</key><integer>29</integer>
          <key>col</key><integer>21</integer>
          <key>file</key><integer>0</integer>
         </dict>
        </array>
      </dict>
     </array>
   </dict>
   <dict>
    <key>kind</key><string>event</string>
    <key>location</key>
    <dict>
     <key>line</key><integer>29</integer>
     <key>col</key><integer>3</integer>
     <key>file</key><integer>0</integer>
    </dict>
    <key>ranges</key>
    <array>
      <array>
       <dict>
        <key>line</key><integer>29</integer>
        <key>col</key><integer>3</integer>
        <key>file</key><integer>0</integer>
       </dict>
       <dict>
        <key>line</key><integer>43</integer>
        <key>col</key><integer>4</integer>
        <key>file</key><integer>0</integer>
       </dict>
      </array>
    </array>
    <key>depth</key><integer>1</integer>
    <key>extended_message</key>
    <string>Calling &apos;reallyPerformAction&apos;</string>
    <key>message</key>
    <string>Calling &apos;reallyPerformAction&apos;</string>
   </dict>
   <dict>
    <key>kind</key><string>event</string>
    <key>location</key>
    <dict>
     <key>line</key><integer>22</integer>
     <key>col</key><integer>1</integer>
     <key>file</key><integer>0</integer>
    </dict>
    <key>depth</key><integer>2</integer>
    <key>extended_message</key>
    <string>Entered call from &apos;performAction&apos;</string>
    <key>message</key>
    <string>Entered call from &apos;performAction&apos;</string>
   </dict>
   <dict>
    <key>kind</key><string>control</string>
    <key>edges</key>
     <array>
      <dict>
       <key>start</key>
        <array>
         <dict>
          <key>line</key><integer>22</integer>
          <key>col</key><integer>1</integer>
          <key>file</key><integer>0</integer>
         </dict>
         <dict>
          <key>line</key><integer>22</integer>
          <key>col</key><integer>6</integer>
          <key>file</key><integer>0</integer>
         </dict>
        </array>
       <key>end</key>
        <array>
         <dict>
          <key>line</key><integer>23</integer>
          <key>col</key><integer>3</integer>
          <key>file</key><integer>0</integer>
         </dict>
         <dict>
          <key>line</key><integer>23</integer>
          <key>col</key><integer>16</integer>
          <key>file</key><integer>0</integer>
         </dict>
        </array>
      </dict>
     </array>
   </dict>
   <dict>
    <key>kind</key><string>event</string>
    <key>location</key>
    <dict>
     <key>line</key><integer>23</integer>
     <key>col</key><integer>3</integer>
     <key>file</key><integer>0</integer>
    </dict>
    <key>ranges</key>
    <array>
      <array>
       <dict>
        <key>line</key><integer>23</integer>
        <key>col</key><integer>3</integer>
        <key>file</key><integer>0</integer>
       </dict>
       <dict>
        <key>line</key><integer>23</integer>
        <key>col</key><integer>58</integer>
        <key>file</key><integer>0</integer>
       </dict>
      </array>
    </array>
    <key>depth</key><integer>2</integer>
    <key>extended_message</key>
    <string>Calling anonymous block</string>
    <key>message</key>
    <string>Calling anonymous block</string>
   </dict>
   <dict>
    <key>kind</key><string>event</string>
    <key>location</key>
    <dict>
     <key>line</key><integer>29</integer>
     <key>col</key><integer>23</integer>
     <key>file</key><integer>0</integer>
    </dict>
    <key>depth</key><integer>3</integer>
    <key>extended_message</key>
    <string>Entered call from &apos;reallyPerformAction&apos;</string>
    <key>message</key>
    <string>Entered call from &apos;reallyPerformAction&apos;</string>
   </dict>
   <dict>
    <key>kind</key><string>control</string>
    <key>edges</key>
     <array>
      <dict>
       <key>start</key>
        <array>
         <dict>
          <key>line</key><integer>29</integer>
          <key>col</key><integer>23</integer>
          <key>file</key><integer>0</integer>
         </dict>
         <dict>
          <key>line</key><integer>29</integer>
          <key>col</key><integer>23</integer>
          <key>file</key><integer>0</integer>
         </dict>
        </array>
       <key>end</key>
        <array>
         <dict>
          <key>line</key><integer>31</integer>
          <key>col</key><integer>5</integer>
          <key>file</key><integer>0</integer>
         </dict>
         <dict>
          <key>line</key><integer>31</integer>
          <key>col</key><integer>6</integer>
          <key>file</key><integer>0</integer>
         </dict>
        </array>
      </dict>
     </array>
   </dict>
   <dict>
    <key>kind</key><string>control</string>
    <key>edges</key>
     <array>
      <dict>
       <key>start</key>
        <array>
         <dict>
          <key>line</key><integer>31</integer>
          <key>col</key><integer>5</integer>
          <key>file</key><integer>0</integer>
         </dict>
         <dict>
          <key>line</key><integer>31</integer>
          <key>col</key><integer>6</integer>
          <key>file</key><integer>0</integer>
         </dict>
        </array>
       <key>end</key>
        <array>
         <dict>
          <key>line</key><integer>31</integer>
          <key>col</key><integer>9</integer>
          <key>file</key><integer>0</integer>
         </dict>
         <dict>
          <key>line</key><integer>31</integer>
          <key>col</key><integer>12</integer>
          <key>file</key><integer>0</integer>
         </dict>
        </array>
      </dict>
     </array>
   </dict>
   <dict>
    <key>kind</key><string>event</string>
    <key>location</key>
    <dict>
     <key>line</key><integer>31</integer>
     <key>col</key><integer>9</integer>
     <key>file</key><integer>0</integer>
    </dict>
    <key>ranges</key>
    <array>
      <array>
       <dict>
        <key>line</key><integer>31</integer>
        <key>col</key><integer>9</integer>
        <key>file</key><integer>0</integer>
       </dict>
       <dict>
        <key>line</key><integer>31</integer>
        <key>col</key><integer>12</integer>
        <key>file</key><integer>0</integer>
       </dict>
      </array>
    </array>
    <key>depth</key><integer>3</integer>
    <key>extended_message</key>
    <string>Assuming &apos;cond&apos; is not equal to 0</string>
    <key>message</key>
    <string>Assuming &apos;cond&apos; is not equal to 0</string>
   </dict>
   <dict>
    <key>kind</key><string>control</string>
    <key>edges</key>
     <array>
      <dict>
       <key>start</key>
        <array>
         <dict>
          <key>line</key><integer>31</integer>
          <key>col</key><integer>9</integer>
          <key>file</key><integer>0</integer>
         </dict>
         <dict>
          <key>line</key><integer>31</integer>
          <key>col</key><integer>12</integer>
          <key>file</key><integer>0</integer>
         </dict>
        </array>
       <key>end</key>
        <array>
         <dict>
          <key>line</key><integer>33</integer>
          <key>col</key><integer>7</integer>
          <key>file</key><integer>0</integer>
         </dict>
         <dict>
          <key>line</key><integer>33</integer>
          <key>col</key><integer>14</integer>
          <key>file</key><integer>0</integer>
         </dict>
        </array>
      </dict>
     </array>
   </dict>
   <dict>
    <key>kind</key><string>event</string>
    <key>location</key>
    <dict>
     <key>line</key><integer>33</integer>
     <key>col</key><integer>30</integer>
     <key>file</key><integer>0</integer>
    </dict>
    <key>ranges</key>
    <array>
      <array>
       <dict>
        <key>line</key><integer>33</integer>
        <key>col</key><integer>30</integer>
        <key>file</key><integer>0</integer>
       </dict>
       <dict>
        <key>line</key><integer>33</integer>
        <key>col</key><integer>50</integer>
        <key>file</key><integer>0</integer>
       </dict>
      </array>
    </array>
    <key>depth</key><integer>3</integer>
    <key>extended_message</key>
    <string>NSNumber boxed expression produces an object with a +0 retain count</string>
    <key>message</key>
    <string>NSNumber boxed expression produces an object with a +0 retain count</string>
   </dict>
   <dict>
    <key>kind</key><string>control</string>
    <key>edges</key>
     <array>
      <dict>
       <key>start</key>
        <array>
         <dict>
          <key>line</key><integer>33</integer>
          <key>col</key><integer>7</integer>
          <key>file</key><integer>0</integer>
         </dict>
         <dict>
          <key>line</key><integer>33</integer>
          <key>col</key><integer>14</integer>
          <key>file</key><integer>0</integer>
         </dict>
        </array>
       <key>end</key>
        <array>
         <dict>
          <key>line</key><integer>35</integer>
          <key>col</key><integer>7</integer>
          <key>file</key><integer>0</integer>
         </dict>
         <dict>
          <key>line</key><integer>35</integer>
          <key>col</key><integer>14</integer>
          <key>file</key><integer>0</integer>
         </dict>
        </array>
      </dict>
     </array>
   </dict>
   <dict>
    <key>kind</key><string>control</string>
    <key>edges</key>
     <array>
      <dict>
       <key>start</key>
        <array>
         <dict>
          <key>line</key><integer>35</integer>
          <key>col</key><integer>7</integer>
          <key>file</key><integer>0</integer>
         </dict>
         <dict>
          <key>line</key><integer>35</integer>
          <key>col</key><integer>14</integer>
          <key>file</key><integer>0</integer>
         </dict>
        </array>
       <key>end</key>
        <array>
         <dict>
          <key>line</key><integer>35</integer>
          <key>col</key><integer>33</integer>
          <key>file</key><integer>0</integer>
         </dict>
         <dict>
          <key>line</key><integer>35</integer>
          <key>col</key><integer>38</integer>
          <key>file</key><integer>0</integer>
         </dict>
        </array>
      </dict>
     </array>
   </dict>
   <dict>
    <key>kind</key><string>event</string>
    <key>location</key>
    <dict>
     <key>line</key><integer>35</integer>
     <key>col</key><integer>33</integer>
     <key>file</key><integer>0</integer>
    </dict>
    <key>ranges</key>
    <array>
      <array>
       <dict>
        <key>line</key><integer>35</integer>
        <key>col</key><integer>33</integer>
        <key>file</key><integer>0</integer>
       </dict>
       <dict>
        <key>line</key><integer>35</integer>
        <key>col</key><integer>50</integer>
        <key>file</key><integer>0</integer>
       </dict>
      </array>
    </array>
    <key>depth</key><integer>3</integer>
    <key>extended_message</key>
    <string>Calling anonymous block</string>
    <key>message</key>
    <string>Calling anonymous block</string>
   </dict>
   <dict>
    <key>kind</key><string>event</string>
    <key>location</key>
    <dict>
     <key>line</key><integer>49</integer>
     <key>col</key><integer>40</integer>
     <key>file</key><integer>0</integer>
    </dict>
    <key>depth</key><integer>4</integer>
    <key>extended_message</key>
    <string>Entered call</string>
    <key>message</key>
    <string>Entered call</string>
   </dict>
   <dict>
    <key>kind</key><string>control</string>
    <key>edges</key>
     <array>
      <dict>
       <key>start</key>
        <array>
         <dict>
          <key>line</key><integer>49</integer>
          <key>col</key><integer>40</integer>
          <key>file</key><integer>0</integer>
         </dict>
         <dict>
          <key>line</key><integer>49</integer>
          <key>col</key><integer>40</integer>
          <key>file</key><integer>0</integer>
         </dict>
        </array>
       <key>end</key>
        <array>
         <dict>
          <key>line</key><integer>50</integer>
          <key>col</key><integer>5</integer>
          <key>file</key><integer>0</integer>
         </dict>
         <dict>
          <key>line</key><integer>50</integer>
          <key>col</key><integer>17</integer>
          <key>file</key><integer>0</integer>
         </dict>
        </array>
      </dict>
     </array>
   </dict>
   <dict>
    <key>kind</key><string>event</string>
    <key>location</key>
    <dict>
     <key>line</key><integer>50</integer>
     <key>col</key><integer>21</integer>
     <key>file</key><integer>0</integer>
    </dict>
    <key>ranges</key>
    <array>
      <array>
       <dict>
        <key>line</key><integer>50</integer>
        <key>col</key><integer>21</integer>
        <key>file</key><integer>0</integer>
       </dict>
       <dict>
        <key>line</key><integer>50</integer>
        <key>col</key><integer>39</integer>
        <key>file</key><integer>0</integer>
       </dict>
      </array>
      <array>
       <dict>
        <key>line</key><integer>50</integer>
        <key>col</key><integer>22</integer>
        <key>file</key><integer>0</integer>
       </dict>
       <dict>
        <key>line</key><integer>50</integer>
        <key>col</key><integer>31</integer>
        <key>file</key><integer>0</integer>
       </dict>
      </array>
    </array>
    <key>depth</key><integer>4</integer>
    <key>extended_message</key>
    <string>Reference count incremented. The object now has a +1 retain count</string>
    <key>message</key>
    <string>Reference count incremented. The object now has a +1 retain count</string>
   </dict>
   <dict>
    <key>kind</key><string>control</string>
    <key>edges</key>
     <array>
      <dict>
       <key>start</key>
        <array>
         <dict>
          <key>line</key><integer>50</integer>
          <key>col</key><integer>5</integer>
          <key>file</key><integer>0</integer>
         </dict>
         <dict>
          <key>line</key><integer>50</integer>
          <key>col</key><integer>17</integer>
          <key>file</key><integer>0</integer>
         </dict>
        </array>
       <key>end</key>
        <array>
         <dict>
          <key>line</key><integer>52</integer>
          <key>col</key><integer>5</integer>
          <key>file</key><integer>0</integer>
         </dict>
         <dict>
          <key>line</key><integer>52</integer>
          <key>col</key><integer>10</integer>
          <key>file</key><integer>0</integer>
         </dict>
        </array>
      </dict>
     </array>
   </dict>
   <dict>
    <key>kind</key><string>event</string>
    <key>location</key>
    <dict>
     <key>line</key><integer>35</integer>
     <key>col</key><integer>33</integer>
     <key>file</key><integer>0</integer>
    </dict>
    <key>ranges</key>
    <array>
      <array>
       <dict>
        <key>line</key><integer>35</integer>
        <key>col</key><integer>33</integer>
        <key>file</key><integer>0</integer>
       </dict>
       <dict>
        <key>line</key><integer>35</integer>
        <key>col</key><integer>50</integer>
        <key>file</key><integer>0</integer>
       </dict>
      </array>
    </array>
    <key>depth</key><integer>3</integer>
    <key>extended_message</key>
    <string>Returning to caller</string>
    <key>message</key>
    <string>Returning to caller</string>
   </dict>
   <dict>
    <key>kind</key><string>control</string>
    <key>edges</key>
     <array>
      <dict>
       <key>start</key>
        <array>
         <dict>
          <key>line</key><integer>35</integer>
          <key>col</key><integer>33</integer>
          <key>file</key><integer>0</integer>
         </dict>
         <dict>
          <key>line</key><integer>35</integer>
          <key>col</key><integer>38</integer>
          <key>file</key><integer>0</integer>
         </dict>
        </array>
       <key>end</key>
        <array>
         <dict>
          <key>line</key><integer>35</integer>
          <key>col</key><integer>7</integer>
          <key>file</key><integer>0</integer>
         </dict>
         <dict>
          <key>line</key><integer>35</integer>
          <key>col</key><integer>14</integer>
          <key>file</key><integer>0</integer>
         </dict>
        </array>
      </dict>
     </array>
   </dict>
   <dict>
    <key>kind</key><string>control</string>
    <key>edges</key>
     <array>
      <dict>
       <key>start</key>
        <array>
         <dict>
          <key>line</key><integer>35</integer>
          <key>col</key><integer>7</integer>
          <key>file</key><integer>0</integer>
         </dict>
         <dict>
          <key>line</key><integer>35</integer>
          <key>col</key><integer>14</integer>
          <key>file</key><integer>0</integer>
         </dict>
        </array>
       <key>end</key>
        <array>
         <dict>
          <key>line</key><integer>37</integer>
          <key>col</key><integer>7</integer>
          <key>file</key><integer>0</integer>
         </dict>
         <dict>
          <key>line</key><integer>37</integer>
          <key>col</key><integer>8</integer>
          <key>file</key><integer>0</integer>
         </dict>
        </array>
      </dict>
     </array>
   </dict>
   <dict>
    <key>kind</key><string>control</string>
    <key>edges</key>
     <array>
      <dict>
       <key>start</key>
        <array>
         <dict>
          <key>line</key><integer>37</integer>
          <key>col</key><integer>7</integer>
          <key>file</key><integer>0</integer>
         </dict>
         <dict>
          <key>line</key><integer>37</integer>
          <key>col</key><integer>8</integer>
          <key>file</key><integer>0</integer>
         </dict>
        </array>
       <key>end</key>
        <array>
         <dict>
          <key>line</key><integer>40</integer>
          <key>col</key><integer>7</integer>
          <key>file</key><integer>0</integer>
         </dict>
         <dict>
          <key>line</key><integer>40</integer>
          <key>col</key><integer>18</integer>
          <key>file</key><integer>0</integer>
         </dict>
        </array>
      </dict>
     </array>
   </dict>
   <dict>
    <key>kind</key><string>event</string>
    <key>location</key>
    <dict>
     <key>line</key><integer>23</integer>
     <key>col</key><integer>3</integer>
     <key>file</key><integer>0</integer>
    </dict>
    <key>ranges</key>
    <array>
      <array>
       <dict>
        <key>line</key><integer>23</integer>
        <key>col</key><integer>3</integer>
        <key>file</key><integer>0</integer>
       </dict>
       <dict>
        <key>line</key><integer>23</integer>
        <key>col</key><integer>58</integer>
        <key>file</key><integer>0</integer>
       </dict>
      </array>
    </array>
    <key>depth</key><integer>2</integer>
    <key>extended_message</key>
    <string>Returning to caller</string>
    <key>message</key>
    <string>Returning to caller</string>
   </dict>
   <dict>
    <key>kind</key><string>control</string>
    <key>edges</key>
     <array>
      <dict>
       <key>start</key>
        <array>
         <dict>
          <key>line</key><integer>23</integer>
          <key>col</key><integer>3</integer>
          <key>file</key><integer>0</integer>
         </dict>
         <dict>
          <key>line</key><integer>23</integer>
          <key>col</key><integer>16</integer>
          <key>file</key><integer>0</integer>
         </dict>
        </array>
       <key>end</key>
        <array>
         <dict>
          <key>line</key><integer>24</integer>
          <key>col</key><integer>3</integer>
          <key>file</key><integer>0</integer>
         </dict>
         <dict>
          <key>line</key><integer>24</integer>
          <key>col</key><integer>16</integer>
          <key>file</key><integer>0</integer>
         </dict>
        </array>
      </dict>
     </array>
   </dict>
   <dict>
    <key>kind</key><string>event</string>
    <key>location</key>
    <dict>
     <key>line</key><integer>24</integer>
     <key>col</key><integer>3</integer>
     <key>file</key><integer>0</integer>
    </dict>
    <key>ranges</key>
    <array>
      <array>
       <dict>
        <key>line</key><integer>24</integer>
        <key>col</key><integer>3</integer>
        <key>file</key><integer>0</integer>
       </dict>
       <dict>
        <key>line</key><integer>24</integer>
        <key>col</key><integer>58</integer>
        <key>file</key><integer>0</integer>
       </dict>
      </array>
    </array>
    <key>depth</key><integer>2</integer>
    <key>extended_message</key>
    <string>Calling anonymous block</string>
    <key>message</key>
    <string>Calling anonymous block</string>
   </dict>
   <dict>
    <key>kind</key><string>event</string>
    <key>location</key>
    <dict>
     <key>line</key><integer>29</integer>
     <key>col</key><integer>23</integer>
     <key>file</key><integer>0</integer>
    </dict>
    <key>depth</key><integer>3</integer>
    <key>extended_message</key>
    <string>Entered call from &apos;reallyPerformAction&apos;</string>
    <key>message</key>
    <string>Entered call from &apos;reallyPerformAction&apos;</string>
   </dict>
   <dict>
    <key>kind</key><string>control</string>
    <key>edges</key>
     <array>
      <dict>
       <key>start</key>
        <array>
         <dict>
          <key>line</key><integer>29</integer>
          <key>col</key><integer>23</integer>
          <key>file</key><integer>0</integer>
         </dict>
         <dict>
          <key>line</key><integer>29</integer>
          <key>col</key><integer>23</integer>
          <key>file</key><integer>0</integer>
         </dict>
        </array>
       <key>end</key>
        <array>
         <dict>
          <key>line</key><integer>31</integer>
          <key>col</key><integer>5</integer>
          <key>file</key><integer>0</integer>
         </dict>
         <dict>
          <key>line</key><integer>31</integer>
          <key>col</key><integer>6</integer>
          <key>file</key><integer>0</integer>
         </dict>
        </array>
      </dict>
     </array>
   </dict>
   <dict>
    <key>kind</key><string>control</string>
    <key>edges</key>
     <array>
      <dict>
       <key>start</key>
        <array>
         <dict>
          <key>line</key><integer>31</integer>
          <key>col</key><integer>5</integer>
          <key>file</key><integer>0</integer>
         </dict>
         <dict>
          <key>line</key><integer>31</integer>
          <key>col</key><integer>6</integer>
          <key>file</key><integer>0</integer>
         </dict>
        </array>
       <key>end</key>
        <array>
         <dict>
          <key>line</key><integer>31</integer>
          <key>col</key><integer>9</integer>
          <key>file</key><integer>0</integer>
         </dict>
         <dict>
          <key>line</key><integer>31</integer>
          <key>col</key><integer>12</integer>
          <key>file</key><integer>0</integer>
         </dict>
        </array>
      </dict>
     </array>
   </dict>
   <dict>
    <key>kind</key><string>event</string>
    <key>location</key>
    <dict>
     <key>line</key><integer>31</integer>
     <key>col</key><integer>9</integer>
     <key>file</key><integer>0</integer>
    </dict>
    <key>ranges</key>
    <array>
      <array>
       <dict>
        <key>line</key><integer>31</integer>
        <key>col</key><integer>9</integer>
        <key>file</key><integer>0</integer>
       </dict>
       <dict>
        <key>line</key><integer>31</integer>
        <key>col</key><integer>12</integer>
        <key>file</key><integer>0</integer>
       </dict>
      </array>
    </array>
    <key>depth</key><integer>3</integer>
    <key>extended_message</key>
    <string>Assuming &apos;cond&apos; is not equal to 0</string>
    <key>message</key>
    <string>Assuming &apos;cond&apos; is not equal to 0</string>
   </dict>
   <dict>
    <key>kind</key><string>control</string>
    <key>edges</key>
     <array>
      <dict>
       <key>start</key>
        <array>
         <dict>
          <key>line</key><integer>31</integer>
          <key>col</key><integer>9</integer>
          <key>file</key><integer>0</integer>
         </dict>
         <dict>
          <key>line</key><integer>31</integer>
          <key>col</key><integer>12</integer>
          <key>file</key><integer>0</integer>
         </dict>
        </array>
       <key>end</key>
        <array>
         <dict>
          <key>line</key><integer>33</integer>
          <key>col</key><integer>7</integer>
          <key>file</key><integer>0</integer>
         </dict>
         <dict>
          <key>line</key><integer>33</integer>
          <key>col</key><integer>14</integer>
          <key>file</key><integer>0</integer>
         </dict>
        </array>
      </dict>
     </array>
   </dict>
   <dict>
    <key>kind</key><string>control</string>
    <key>edges</key>
     <array>
      <dict>
       <key>start</key>
        <array>
         <dict>
          <key>line</key><integer>33</integer>
          <key>col</key><integer>7</integer>
          <key>file</key><integer>0</integer>
         </dict>
         <dict>
          <key>line</key><integer>33</integer>
          <key>col</key><integer>14</integer>
          <key>file</key><integer>0</integer>
         </dict>
        </array>
       <key>end</key>
        <array>
         <dict>
          <key>line</key><integer>35</integer>
          <key>col</key><integer>7</integer>
          <key>file</key><integer>0</integer>
         </dict>
         <dict>
          <key>line</key><integer>35</integer>
          <key>col</key><integer>14</integer>
          <key>file</key><integer>0</integer>
         </dict>
        </array>
      </dict>
     </array>
   </dict>
   <dict>
    <key>kind</key><string>control</string>
    <key>edges</key>
     <array>
      <dict>
       <key>start</key>
        <array>
         <dict>
          <key>line</key><integer>35</integer>
          <key>col</key><integer>7</integer>
          <key>file</key><integer>0</integer>
         </dict>
         <dict>
          <key>line</key><integer>35</integer>
          <key>col</key><integer>14</integer>
          <key>file</key><integer>0</integer>
         </dict>
        </array>
       <key>end</key>
        <array>
         <dict>
          <key>line</key><integer>35</integer>
          <key>col</key><integer>33</integer>
          <key>file</key><integer>0</integer>
         </dict>
         <dict>
          <key>line</key><integer>35</integer>
          <key>col</key><integer>38</integer>
          <key>file</key><integer>0</integer>
         </dict>
        </array>
      </dict>
     </array>
   </dict>
   <dict>
    <key>kind</key><string>event</string>
    <key>location</key>
    <dict>
     <key>line</key><integer>35</integer>
     <key>col</key><integer>33</integer>
     <key>file</key><integer>0</integer>
    </dict>
    <key>ranges</key>
    <array>
      <array>
       <dict>
        <key>line</key><integer>35</integer>
        <key>col</key><integer>33</integer>
        <key>file</key><integer>0</integer>
       </dict>
       <dict>
        <key>line</key><integer>35</integer>
        <key>col</key><integer>50</integer>
        <key>file</key><integer>0</integer>
       </dict>
      </array>
    </array>
    <key>depth</key><integer>3</integer>
    <key>extended_message</key>
    <string>Calling anonymous block</string>
    <key>message</key>
    <string>Calling anonymous block</string>
   </dict>
   <dict>
    <key>kind</key><string>event</string>
    <key>location</key>
    <dict>
     <key>line</key><integer>49</integer>
     <key>col</key><integer>40</integer>
     <key>file</key><integer>0</integer>
    </dict>
    <key>depth</key><integer>4</integer>
    <key>extended_message</key>
    <string>Entered call</string>
    <key>message</key>
    <string>Entered call</string>
   </dict>
   <dict>
    <key>kind</key><string>control</string>
    <key>edges</key>
     <array>
      <dict>
       <key>start</key>
        <array>
         <dict>
          <key>line</key><integer>49</integer>
          <key>col</key><integer>40</integer>
          <key>file</key><integer>0</integer>
         </dict>
         <dict>
          <key>line</key><integer>49</integer>
          <key>col</key><integer>40</integer>
          <key>file</key><integer>0</integer>
         </dict>
        </array>
       <key>end</key>
        <array>
         <dict>
          <key>line</key><integer>50</integer>
          <key>col</key><integer>5</integer>
          <key>file</key><integer>0</integer>
         </dict>
         <dict>
          <key>line</key><integer>50</integer>
          <key>col</key><integer>17</integer>
          <key>file</key><integer>0</integer>
         </dict>
        </array>
      </dict>
     </array>
   </dict>
   <dict>
    <key>kind</key><string>control</string>
    <key>edges</key>
     <array>
      <dict>
       <key>start</key>
        <array>
         <dict>
          <key>line</key><integer>50</integer>
          <key>col</key><integer>5</integer>
          <key>file</key><integer>0</integer>
         </dict>
         <dict>
          <key>line</key><integer>50</integer>
          <key>col</key><integer>17</integer>
          <key>file</key><integer>0</integer>
         </dict>
        </array>
       <key>end</key>
        <array>
         <dict>
          <key>line</key><integer>52</integer>
          <key>col</key><integer>5</integer>
          <key>file</key><integer>0</integer>
         </dict>
         <dict>
          <key>line</key><integer>52</integer>
          <key>col</key><integer>10</integer>
          <key>file</key><integer>0</integer>
         </dict>
        </array>
      </dict>
     </array>
   </dict>
   <dict>
    <key>kind</key><string>event</string>
    <key>location</key>
    <dict>
     <key>line</key><integer>52</integer>
     <key>col</key><integer>5</integer>
     <key>file</key><integer>0</integer>
    </dict>
    <key>ranges</key>
    <array>
      <array>
       <dict>
        <key>line</key><integer>52</integer>
        <key>col</key><integer>5</integer>
        <key>file</key><integer>0</integer>
       </dict>
       <dict>
        <key>line</key><integer>52</integer>
        <key>col</key><integer>21</integer>
        <key>file</key><integer>0</integer>
       </dict>
      </array>
    </array>
    <key>depth</key><integer>4</integer>
    <key>extended_message</key>
    <string>Object leaked: allocated object is not referenced later in this execution path and has a retain count of +1</string>
    <key>message</key>
    <string>Object leaked: allocated object is not referenced later in this execution path and has a retain count of +1</string>
   </dict>
  </array>
  <key>description</key><string>Potential leak of an object</string>
  <key>category</key><string>Memory (Core Foundation/Objective-C)</string>
  <key>type</key><string>Leak</string>
 <key>location</key>
 <dict>
  <key>line</key><integer>52</integer>
  <key>col</key><integer>5</integer>
  <key>file</key><integer>0</integer>
 </dict>
 </dict>
</array>

</dict>
</plist>
