<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    <script>
      $(document).ready(function () {
        // Initialize navgoco with default options
        $("#mysidebar").navgoco({
          caretHtml: "",
          accordion: false,
          openClass: "active", // open
          save: false, // leave false or nav highlighting doesn't work right
          cookie: {
            name: "navgoco",
            expires: false,
            path: "/",
          },
          slide: {
            duration: 400,
            easing: "swing",
          },
        });

        $("#collapseAll").click(function (e) {
          e.preventDefault();
          $("#mysidebar").navgoco("toggle", false);
        });

        $("#expandAll").click(function (e) {
          e.preventDefault();
          $("#mysidebar").navgoco("toggle", true);
        });
      });

      $(function () {
        $('[data-toggle="tooltip"]').tooltip();
      });

      $(document).ready(function () {
        $("#tg-sb-link").click(function () {
          $("#tg-sb-sidebar").toggle();
          $("#tg-sb-content").toggleClass("col-md-9");
          $("#tg-sb-content").toggleClass("col-md-12");
          $("#tg-sb-icon").toggleClass("fa-toggle-on");
          $("#tg-sb-icon").toggleClass("fa-toggle-off");
        });
      });
    </script>
  </head>
  <body>
    {% include topnav.html %}
    <!-- Page Content -->
    <div class="main-body">
      <div class="main-sidebar">
        {% include sidebar.html %}
      </div>
      <div class="main-content">
        {{content}}
      </div>
      <div id="toc" class="main-toc"></div>
    </div>
  </body>
  {% if site.google_analytics %} {% include google_analytics.html %} {% endif %}
</html>
