---
# See: https://clang.llvm.org/docs/ClangFormatStyleOptions.html
BasedOnStyle: LLVM
AlignAfterOpenBracket: DontAlign
AlignEscapedNewlines: DontAlign
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: false
AlignTrailingComments: false
ConstructorInitializerIndentWidth: 2
SpaceAfterTemplateKeyword: false
SpacesBeforeTrailingComments: 2
Standard: Cpp17
...

# vim:set filetype=yaml:
