---
# See: https://clang.llvm.org/docs/ClangFormatStyleOptions.html
BasedOnStyle: LLVM
SpacesBeforeTrailingComments: 2
AlignEscapedNewlines: DontAlign
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
ConstructorInitializerIndentWidth: 2
AlignAfterOpenBracket: DontAlign
AlignOperands: false
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignTrailingComments: false
SpaceAfterTemplateKeyword: false
BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: true
ContinuationIndentWidth: 4
...

# vim:set filetype=yaml:
