import lit.util

# debuginfo-tests are not expected to pass in a cross-compilation setup.
if 'native' not in config.available_features or lit.util.which('gdb') is None:
    config.unsupported = True

if config.mlir_src_root:
  config.substitutions.append(("%mlir_src_root", config.mlir_src_root))
  config.available_features.add('mlir')

config.suffixes = ['.gdb']


