   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>7</integer>
      <key>col</key><integer>7</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>7</integer>
         <key>col</key><integer>7</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>7</integer>
         <key>col</key><integer>7</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Passing null pointer value via 1st parameter &apos;ptr&apos;</string>
     <key>message</key>
     <string>Passing null pointer value via 1st parameter &apos;ptr&apos;</string>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>7</integer>
      <key>col</key><integer>3</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>7</integer>
         <key>col</key><integer>3</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>7</integer>
         <key>col</key><integer>8</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Calling &apos;foo&apos;</string>
     <key>message</key>
     <string>Calling &apos;foo&apos;</string>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>1</integer>
      <key>col</key><integer>1</integer>
      <key>file</key><integer>1</integer>
     </dict>
     <key>depth</key><integer>1</integer>
     <key>extended_message</key>
     <string>Entered call from &apos;bar&apos;</string>
     <key>message</key>
     <string>Entered call from &apos;bar&apos;</string>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>1</integer>
           <key>col</key><integer>1</integer>
           <key>file</key><integer>1</integer>
          </dict>
          <dict>
           <key>line</key><integer>1</integer>
           <key>col</key><integer>4</integer>
           <key>file</key><integer>1</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>2</integer>
           <key>col</key><integer>3</integer>
           <key>file</key><integer>1</integer>
          </dict>
          <dict>
           <key>line</key><integer>2</integer>
           <key>col</key><integer>3</integer>
           <key>file</key><integer>1</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>2</integer>
           <key>col</key><integer>3</integer>
           <key>file</key><integer>1</integer>
          </dict>
          <dict>
           <key>line</key><integer>2</integer>
           <key>col</key><integer>3</integer>
           <key>file</key><integer>1</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>2</integer>
           <key>col</key><integer>8</integer>
           <key>file</key><integer>1</integer>
          </dict>
          <dict>
           <key>line</key><integer>2</integer>
           <key>col</key><integer>8</integer>
           <key>file</key><integer>1</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>2</integer>
      <key>col</key><integer>8</integer>
      <key>file</key><integer>1</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>2</integer>
         <key>col</key><integer>4</integer>
         <key>file</key><integer>1</integer>
        </dict>
        <dict>
         <key>line</key><integer>2</integer>
         <key>col</key><integer>6</integer>
         <key>file</key><integer>1</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>1</integer>
     <key>extended_message</key>
     <string>Dereference of null pointer (loaded from variable &apos;ptr&apos;)</string>
     <key>message</key>
     <string>Dereference of null pointer (loaded from variable &apos;ptr&apos;)</string>
    </dict>
   </array>
   <key>description</key><string>Dereference of null pointer (loaded from variable &apos;ptr&apos;)</string>
   <key>category</key><string>Logic error</string>
   <key>type</key><string>Dereference of null pointer</string>
   <key>check_name</key><string>core.NullDereference</string>
   <!-- This hash is experimental and going to change! -->
   <key>issue_hash_content_of_line_in_context</key><string>2058c95994cab381890af28e7bf354bf</string>
  <key>issue_context_kind</key><string>function</string>
  <key>issue_context</key><string>foo</string>
  <key>issue_hash_function_offset</key><string>1</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>2</integer>
   <key>col</key><integer>8</integer>
   <key>file</key><integer>1</integer>
  </dict>
  <key>HTMLDiagnostics_files</key>
  <array>
   <string>report-288847.html</string>
  </array>
  <key>ExecutedLines</key>
  <dict>
   <key>0</key>
   <array>
    <integer>6</integer>
    <integer>7</integer>
   </array>
   <key>1</key>
   <array>
    <integer>1</integer>
    <integer>2</integer>
   </array>
  </dict>
  </dict>
 </array>
 <key>files</key>
 <array>
  <string>/clang/test/Analysis/diagnostics/plist-multi-file.c</string>
  <string>/clang/test/Analysis/diagnostics/plist-multi-file.h</string>
 </array>
</dict>
</plist>
