// Part of the Carbon Language project, under the Apache License v2.0 with LLVM
// Exceptions. See /LICENSE for license information.
// SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception
//
// TODO: Add ranges and switch to "--dump-sem-ir-ranges=only".
// EXTRA-ARGS: --dump-sem-ir-ranges=if-present
//
// AUTOUPDATE

HEADER

package User;

class C {};

impl C as Core.INTERFACE {
  fn Op[addr self: C*]();
}

fn TestOp() {
  var c: C = {};
  //@dump-sem-ir-begin
  OPc;
  //@dump-sem-ir-end
}
