# Part of the Carbon Language project, under the Apache License v2.0 with LLVM
# Exceptions. See /LICENSE for license information.
# SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception

name: 'Auto Assign'
on:
  pull_request_target:
    types: [opened, ready_for_review]

jobs:
  assign_reviewer:
    runs-on: ubuntu-latest
    steps:
      - id: path-filter
        uses: dorny/paths-filter@v2
        with:
          filters: |
            leads:
              - '*.md'
              - 'LICENSE'
              - 'docs/project/principles/*'
              - 'docs/project/evolution.md'
              - 'docs/project/goals.md'
              - 'docs/project/roadmap.md'
              - 'proposals/*.md'
            explorer:
              - 'explorer/**'
            toolchain:
              - 'toolchain/**'

      - id: assign-leads
        if: steps.changes.outputs.leads == 'true'
        uses: hkusu/review-assign-action@v1.3.0
        with:
          reviewers: KateGregory, chandlerc, zygoloid
          max-num-of-reviewers: 1

      - id: assign-explorer
        if: steps.changes.outputs.explorer == 'true'
        uses: hkusu/review-assign-action@v1.3.0
        with:
          reviewers: geoffromer, jonmeow, jsiek, zygoloid
          max-num-of-reviewers: 1

      - id: assign-toolchain
        if: steps.changes.outputs.toolchain == 'true'
        uses: hkusu/review-assign-action@v1.3.0
        with:
          reviewers: chandlerc, jonmeow, zygoloid
          max-num-of-reviewers: 1

      - id: assign-fallback
        if:
          steps.changes.outputs.leads != 'true' &&
          steps.changes.outputs.explorer != 'true' &&
          steps.changes.outputs.toolchain != 'true'
        uses: hkusu/review-assign-action@v1.3.0
        with:
          reviewers: chandlerc, jonmeow, josh11b, zygoloid
          max-num-of-reviewers: 1
