name: Publish Carbon Documentation
on:
  push:
    branches:
    - master
    - jekyll-action

jobs:
  build:
    runs-on: [ubuntu-latest]
    steps:
    - uses: actions/checkout@v2
    - uses: GoogleCloudPlatform/github-actions/setup-gcloud@master
      with:
        version: '285.0.0'
        project_id: ${{ secrets.GCP_PROJECT_ID }}
        service_account_email: ${{ secrets.GCP_SA_EMAIL }}
        service_account_key: ${{ secrets.GCP_SA_KEY }}
        export_default_credentials: true
    - run: gcloud info
    - run: echo Add a setup step here
    - run: echo add a build step here
    - name: Publish to www.carbon-lang.dev
      run: |
        gsutil cp -R docs/* gs://www.carbon-lang.dev/test-doc-root/
